<form action="/recipes" method="POST">
  <h2>NEW RECIPES HERE</h2>
  <label for="recipe">Please Add a Recipe Here</label>
  <input type="text" name="recipe" id="recipe" />
  <button type="submit">Save Recipe</button>
</form>
