<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <a href="/recipes/new">Add new recipe</a>
  <section>
    <ul>
    <% recipes.forEach((r) => { %>
      <li><%= r.name %><br><%= r.ingredients.toString() %></li>
      <a href="/recipes/<%= r._id %>">Details</a>
    <% }) %>
  </ul>
  </section>
</body>
</html>